{{!-- this is a button you press to create and edit your post --}}
<section class="new-post-section">
    <button type="submit" class="new-post-btn">New Post</button>
</section>

{{#if posts.length}}

<section>
    <h2>My Posts</h2>
    <ul class="post-list">
        {{#each posts as |post|}}
            <li>
                {{>post-info post=post}}
                <a href="/dashboard/edit/{{post._id}}">Edit</a>
            </li>
        {{/each}}
    </ul>
</section>

{{!-- link to javascript goes here --}}