 <a href="/dashboard">← Back to Dashboard</a>

<article class="new-page">
   <section class="edit-form-page">
        <div class="form-heading">
        <h2>Edit Post</h2>
        </div>
        <div class="form-section">
            <form action="/post/{{post._id}}?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="post-title">Post Title</label>
                    <input type="text" name="postTitle" id="post-title" value="{{post.title}}">
                </div>
                <div class="form-group">
                    <label for="post-body">Content</label>
                    <textarea name="postBody" id="post-body" cols="30" rows="10">{{post.postBody}}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit">Update Post</button>
                    <button type="button" class="delete-post-btn">Delete Post</button>
                </div>
        </div>

    </section>
</article>