{{!-- log in page --}}
<section class="login-page">
    <div class="form-heading">
        <h2>Login</h2>
    </div>
    
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>  
    </form>

    <a href="./signup.handlebars">Sign Up if dont already have an account</a>
</section>
