<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Space Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>


<header>  
  <h1>Space Blog</h1>
</header>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Welcome to Space Blog</h5>
              <p class="card-text">This is a blog about space. You can read about space and post your own space related content.</p>
              {{!-- if logged in allow to go to homepage --}}
              {{if loggedIn}}
              <a href="/homepage" class="btn btn-primary">Go to Homepage</a>
              {{else}}
              <a href="/login" class="btn btn-primary">Login</a>
              </div>
          </div>
        </div>
      </div>
    </div>

   </body>

</html>
  
 
  {{!-- create a button link that redirects the user to the main page --}}



