<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Space Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

{{!-- header title center  --}}
<header>  
  <h1>Space Blog</h1>
</header>
{{!-- create a button link that redirects the user to login page or to a sign up page --}}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Welcome to Space Blog</h5>
              <p class="card-text">This is a blog about space. You can read about space and post your own space related content.</p>
              <a href="/login" class="btn btn-primary">Login</a>
              <a href="/signup" class="btn btn-primary">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>

   </body>

</html>
  
  {{!-- Path: views\login.handlebars --}}
  {{!-- create a form that allows the user to login to the site --}}
  {{!-- create a button link that redirects the user to the signup page --}}
  {{!-- create a button link that redirects the user to the main page --}}
  {{!-- create a button link that redirects the user to the dashboard page --}}


