
<section class="sign-in-page">
    <div class="form-heading">
        <h2>Sign Up</h2>
    </div>
    
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="entry-field" name="username" id="username" placeholder="Username">
        </div>
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="entry-field" name="password" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="entry-field" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <button type="submit">Sign Up</button>
        </div>
        <a href="./login.handlebars">If you already have an account Login Here</a>
</section>
{{!-- have to create a signup.js --}}