body, html {
	background-image: url(http://opengameart.org/sites/default/files/seamless%20space_0.PNG);
  background-color: black;
  animation: space-animation 60s linear infinite;
}


.pageContainer{
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    border: solid red 2px;
    margin: 100px;
    height: 1000px;
}

.mainFeed{
    width: 60%;
    height: 100%;
    border: dotted blue 2px;
    background-color: aliceblue;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1000px;
    width: 40%;
    border: solid purple 3px;
    margin-left: 5%;
}

.rightFeed{
    width: 100%;
    border: solid green 2px;
    height: 20%;
    /* margin-bottom: 10%; */
    background-color: beige;
   
}

.rightLowerFeed{ 
   width: 100%; 
   height: 75%;
   border: solid black 2px;
   background-color: bisque;
}

