/* .lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    
    height: 100vh;
    background:rgba(0,0,0,.5);
    display: flex;
    align-items: center;
  
    justify-content: center;
    box-sizing: border-box;
    padding: 15px;

  }
  
  .lightbox__inner{
    position: relative;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
  
    height: 100%;
    background: white;
    /* background-image: url(../img/lightbox_side.png); */
    /* min-height: 100px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
  } */
  
  /* .lightboxcontainer{
    display: grid;
    grid-template-columns:50% 50%;
    justify-content: center;
    align-items: center;
  }
  
  .lightboxcontainer img{
    width: 100%;
    height: 600px;
  }

  .leftbackground{

  }

  .lightbox__content{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: center;
    align-items: center;

    grid-gap: 50px;
  }

  .signIn,
  .signUp{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    color:rgba(0,0,0,.5);
  }
  .inGrid,
  .upGrid{
    display: none;
  }

  .inGrid.inActive,
  .upGrid.upActive{
    display:grid;
  }
  
  .lightbox__close{
    background: none;
    border: none;
    outline: none;
    position: absolute;
  
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 40px;
  
    cursor: pointer;
    color:rgba(0,0,0,.5);
  }
  
  .lightbox__close:hover{
    color:rgba(0,0,0,.8);
  } */